{
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"react-app",
		"react-app/jest",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-unused-expressions": "off",
		"no-explicit-any": "off",
		"@typescript-eslint/no-explicit-any": "off"
	}
}
